<div class="orders-statics">
  <table class="table table-striped ">
    <tbody class="">
      <tr>
        <td>عدد الطلبات قيد التسليم</td>
        <td>15525</td>
        <td> <button class="btn btn-danger">تصفير</button></td>
      </tr>
      <tr>
        <td>عدد الطلبات التي تم تسليمها</td>
        <td>15525</td>
        <td> <button class="btn btn-danger">تصفير</button></td>
      </tr>
      <tr>
        <td>عدد الطلبات الراجعة</td>
        <td>15525</td>
        <td> <button class="btn btn-danger ">تصفير</button></td>
      </tr>
    </tbody>

  </table>
</div>
<div class="row mt-6">
<div class="all-orders-table col-sm-10 ">
  <h3 class="rtl text-right">كل الطلبات</h3>
  <table class="table table-dark text-right  table-dark-custom"> <!-- TODO  think about one color--> <!--bg-color-custom -->

    <thead>
      <tr>
        <th>الطلب</th>
        <th>الحالة</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>اسم المنتج هنا</td>
      <td><span class="badge badge-danger">راجع</span>
    </tr>
    <tr>
      <td>اسم المنتج هنا</td>
      <td><span class="badge badge-success">سُلم</span></tr>
    <tr>
      <td>اسم المنتج هنا</td>
      <td><span class="badge badge-info">آجل</span></td>
    </tr>

  </tbody>
  </table>
</div>
</div>
