#logo {
  width: 30%;
  /* margin: -15px; */
  /* margin-left: -10px; */
}

.a {
  direction: rtl;
}
.text-white1 {
  color: rgb(228, 227, 227) !important;
}
.ab {
  /* background-color:#0d0f16 !important; */
  background-color: #1a1c1f !important;
}

a i {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

a {
}
