<div class="distrib-table">
  <div class="list-group table-dark">
    <a href="#" class="list-group-item list-group-item-action ">
    اسم الموزع
    </a>
    <a href="#" class="list-group-item list-group-item-action">اسم الموزع </a>
    <a href="#" class="list-group-item list-group-item-action">اسم الموزع </a>
    <a href="#" class="list-group-item list-group-item-action">اسم الموزع </a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">اسم الموزع </a>
  </div>
</div>
