 <div class="table-cards rtl text-right">
                    <div class="card border-primary mb-3 " style="max-width: 18rem;">
                     <!-- TODO bg-danger   don't forget change background-color depending on order state  -->

                        <div class="card-header">اسم المنتج</div>
                        <div class="card-body text-primary">
                        <div class="card-title mt--3 ">
                          <p class="card-text mt--3">اسم العميل </p>
                          <p class="card-text mt--3">رقم الهاتف </p>
                          <p class="card-text mt--3">المكان </p>
                        <p class="card-text mt--3">سعر المنتج</p>
                        </div>
                        <p class="card-text" style="display: inline;"> حالة المنتج</p>
                        <span class="badge badge-primary mr-1">قيد التوصيل</span>
                        <span class="badge badge-success mr-1">سُلم</span>
                        <span class="badge badge-danger mr-1">راجع</span>
                        <span class="badge badge-info mr-1">آجل</span>
                        <p class="card-text">اسم الموزع</p>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control distInput" placeholder="اكتب اسم الموزع هنا"aria-label="dist's username" aria-describedby="button-addon2">
                      </div>
                        <button class="btn btn-primary">عرض المنتج </button>
                        <!--<p class="card-text">سعر التوصيل</p>
                        <p class="card-text">سعر المنتج</p>
                        <p class="card-text">المكان </p>
                        <p class="card-text">رقم الهاتف </p>
                        <p class="card-text"> التاريخ</p>
                        <p class="card-text">الأدمن</p> -->
                        <!-- TODO above comment not important  -->
                        </div>
                    </div>
                </div>
