<div class="container mt-3 rtl">
  <div class="dist-names text-right">
    <h3 *ngIf="jobType === 'facebook-admins'" class="mt-5 mb-3 text-center l">
      أدمنز صفحة الفيسبوك
    </h3>
    <h3 *ngIf="jobType === 'delivery-men'" class="mt-5 mb-3 text-center l">
      مسؤولي التوصيل
    </h3>
    <h3 *ngIf="jobType === 'system-admins'" class="mt-5 mb-3 text-center l">
      مديري النظام
    </h3>
    <div class="row">
      <div class="col-sm-4">
        <app-employees-names></app-employees-names>
      </div>
      <div class="col-sm-8">
        <app-employee-details></app-employee-details>
      </div>
    </div>
  </div>
</div>
