<app-nav-container></app-nav-container>
<!-- <app-home-page></app-home-page> -->

<!-- <app-home-page></app-home-page>


<!--employee profile m4 hn3mlo special component  hn3ml routing 3la employee details  -->

<!-- <app-employees></app-employees> -->
<!-- TODO employee profile m4 hn3mlo special component  hn3ml routing 3la employee details  -->
<!-- nav and employees are done -->

<!-- <app-login></app-login> -->

<!-- home page done -->

<!-- add employee page done -->

<!-- <app-add-employee></app-add-employee> -->

<!-- add order page done -->

<!-- <app-add-order></app-add-order> -->
<!-- <app-stock></app-stock> -->
<!--  -->
<router-outlet></router-outlet>
