<div class="admin-pannel rtl text-right">
  <div class="container">
      <div class="add-role">
          <h2 class="mt-5 mb--3">إضافة مستخدم</h2>
          <form>

        <div class="form-group mt-5">
          <label for="exampleInputEmail1">اسم المستخدم</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="اسم المستخدم">
        </div>

        <div class="form-group mt-3">
          <label for="exampleInputPassword1">رقم الموبيل</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رقم الموبيل">
        </div>

        <div class="form-group mt-3">
          <label for="exampleInputPassword1">كلمة المرور</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="كلمة المرور">
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="job" id="delivry" value="option1" >
          <label class="form-check-label mr-4" for="delivry">
            delivry
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="job" id="facebook" value="option2">
          <label class="form-check-label mr-4 " for="facebook">
            facebook admin
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="job" id="accountant" value="option3">
          <label class="form-check-label mr-4" for="accountant">
            accountant
          </label>
        </div>
      <button type="submit" class="btn btn-primary mb-2">إضافة المستخدم</button>
          </form>
      </div>

  </div>
</div>
