<form action="" class="rtl text-right mt-3">
  <div id="increase-amount" class="board">
    <fieldset>
      <legend>اضافه منتج جديد</legend>
      <div class="form-group">
        <label for="newItemName"> </label>
        <input
          type="text"
          id="newItemName"
          placeholder="اضافه منتج جديد"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          id="addAmount"
          placeholder="اضف الكميه"
          class="form-control"
        />
      </div>
    </fieldset>
  </div>
  <hr />
  <div id="newItem" class="board">
    <fieldset>
      <legend>اضف كميه لمنتج موجود</legend>
      <select class="custom-select">
        <option selected>اختر المنتج</option>
        <option value="1">سماعه i11</option>
        <option value="2">ورق حائط</option>
        <option value="3">شاحن samsung</option>
      </select>
      <br />
      <br />
      <div class="form-group">
        <input
          type="number"
          id="amount"
          placeholder="اضف الكميه"
          class="form-control"
        />
      </div>
    </fieldset>
  </div>
  <button class="btn btn-primary mb-6 mt-3">اضف منتج</button>
</form>
